In [21]:
# Dependencies
import pandas as pd
import numpy as np
import random

In [22]:
# Randomly generated coordinates
lat = np.random.uniform(-90,90, size=(520,1))
lng = np.random.uniform(-180,180, size=(520,1))
list_of_coordinates = list(zip(lat, lng))

In [24]:
city_coordinates = pd.DataFrame(list_of_coords, columns = ['lat', 'lng'])
city_coordinates.head()

                    lat                    lng
0  [14.678500122861536]    [52.89835665794399]
1    [-7.2473556824078]    [58.05627935238334]
2  [-59.12903824547642]   [-6.416151406714164]
3   [42.90139578532532]  [-166.69723469826496]
4  [-48.41810011241659]   [121.76063095242836]